# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
[Rr]elease
[Dd]ebug

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/